$backgroundPrimary: #282c34;
$highlightColor: #129384;
$foregroundText: lightgrey;

$primaryMain: #263238;
$primaryLight: #4f5b62;
$primaryDark: #000a12;
$secondaryMain: #01579b;
$secondaryLight: #4f83cc;
$secondaryDark: #002f6c;

.App {
    background-color: $primaryMain;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: $secondaryLight;
}

#landing-page {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $primaryMain;
    color: $foregroundText;
}

#landing-page-column {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#landing-page-connection-group {
    * {
        margin: 5px;
    }
}

#editor-view-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

// keeping these in case I need them again
// but if you want to modify the drawer, best look at drawer-contents
// .MuiDrawer-paper {
//     background-color: $secondaryMain;
// }
// .MuiPaper {
//     background-color: $secondaryMain;
//     color: red;
// }
// .MuiButton-root {
//     height: auto;
// }

#editor-top-bar {
    display: flex;
    flex-direction: row;
    // align-items: stretch;
    justify-content: space-between;
}

.editor-bar-group {
    display: flex;
    align-items: center;
}

.editor-bar-inner-item {
    margin: 5px;
}

#editor-bar-connection-group {
    flex-wrap: wrap;
}

#editor-container {
    height: 100%
}

#drawer-contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $primaryLight;
    width: 200px;
}

.drawer-contents-group {
    padding: 20px;
}

#drawer-info-group {
    color: $foregroundText;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#drawer-settings-group {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: $foregroundText;
}

.settings-item-container {
    padding-top: 8px;
    padding-bottom: 8px;
}

.settings-item-title {
    // padding: 5px;
}

#drawer-info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}