$backgroundPrimary: #282c34;
$highlightColor: #129384;
$foregroundText: lightgrey;

$primaryMain: #263238;
$primaryLight: #4f5b62;
$primaryDark: #000a12;
$secondaryMain: #01579b;
$secondaryLight: #4f83cc;
$secondaryDark: #002f6c;

.App {
    background-color: $primaryMain;
    font-family: "Menlo"
}

a {
    color: $secondaryLight;
}

#landing-page {
    font-family: "Menlo";
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $primaryMain;
    color: $foregroundText;
}

#landing-page-column {
    max-width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#landing-stepper {
    background-color: $primaryMain;
    max-width: 600px;
}

.landing-step-label {
    // background-color: white;
}

#landing-page-connection-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 36px;
}

#landing-page-room-input-container {
    height: 100%;
}

#landing-page-room-input {
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    // font-family: "Menlo";
}

#lift-drawer-button-container {
    padding-top: 30px;
}

#editor-view-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

// keeping these in case I need them again
// but if you want to modify the drawer, best look at drawer-contents
// .MuiDrawer-paper {
//     background-color: $secondaryMain;
// }
// .MuiPaper {
//     background-color: $secondaryMain;
//     color: red;
// }
// .MuiButton-root {
//     height: auto;
// }

#editor-bottom-bar {
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: $primaryMain;
    flex-direction: row;
}

#editor-bar-connection-status {
    font-size: 14px;
    padding: 4px;
}

#editor-top-bar {
    display: flex;
    flex-direction: row;
    // align-items: stretch;
    justify-content: space-between;
    // flex-wrap: wrap;
}

.editor-bar-group {
    display: flex;
    align-items: center;
}

.editor-bar-inner-item {
    // height: 100%;
}

#editor-bar-room-field {
    // width: 70px;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
}

#editor-bar-connection-group {
    flex-wrap: wrap;
}

#editor-bar-connection-input-group {
    display: flex;
    flex-direction: row;
    // background-color: $secondaryMain;
    margin-right: 20px;
}

#editor-bar-room-container {
    display: flex;
    background-color: $secondaryMain;
    // padding: 20px;
}

#editor-bar-settings-group {
    height: 100%;
}

#editor-bar-settings-button-container {
    box-sizing: border-box;
    height: 100%;
}

#editor-container {
    height: 100%
}

#drawer-contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $primaryLight;
    width: 200px;
}

.drawer-contents-group {
    padding: 20px;
}

#drawer-info-group {
    color: $foregroundText;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#drawer-settings-group {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: $foregroundText;
}

.settings-item-container {
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Menlo';
}

.settings-item-title {
    // padding: 5px;
}

#drawer-info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}