$backgroundPrimary: #282c34;
$highlightColor: #129384;
$foregroundText: lightgrey;

$primaryMain: #263238;
$primaryLight: #4f5b62;
$primaryDark: #000a12;
$secondaryMain: #01579b;
$secondaryLight: #4f83cc;
$secondaryDark: #002f6c;

$primaryMain-transparent: rgba(38, 50, 56, 0.7);


// font imports (maybe move this out to a fonts.scss)

// Font imports used in display, components etc
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Pattaya&family=Roboto&family=Roboto+Mono:ital,wght@0,400;1,400;1,500;1,600&family=Source+Sans+Pro&display=swap');
// Font imports used specifically as editor font options
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Fira+Code&family=Fira+Mono&family=Inconsolata&family=JetBrains+Mono&family=Roboto+Mono&family=Source+Code+Pro&family=Ubuntu+Mono&display=swap');

// because of the unfortunate way I'm using material ui,
// some elements are styled here, and some in MuiStyles.js

// most of the layout styling is done here, such as:
// - anything styled with flexbox for layout
// - containers in the AppBars and drawer elements

// what's styled in MuiStyles.js:
// - MuiTheme styling for Mui element consistency
//     - e.g. buttons, which have border radius 0, and have the 'secondary' color variant
//     

// where possible, I've tried to enforce styling through this file
// e.g. AppBar and drawers are colored with MuiTheme by default,
// but can be overriden by drawing an inner container with a color
// plus fonts in the classnames here

// places where Mui styling MUST be used are for things like buttons, some drawer styling elements, stepper inner elements


// such as the styling of the step-list on the landing page

.App {
    background-color: $primaryMain;
    color: $foregroundText;
    font-family: 'Roboto';
}

a {
    color: $secondaryLight;
}

.logo-text {
    // font-family: "Pattaya";
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    font-weight: 600;
}

#title-text {
    font-size: 38px;
}

.title-side {
    color: lightgrey;
    // color: $secondaryLight;
}

.title-window {
    color: lightgrey;
    // color: $secondaryLight;
}

.landingDrawerRoot {
    background-color: rgba(0,0,0,0);
    // opacity: 0.9
}

#landing-page {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $primaryMain-transparent;
    color: $foregroundText;
}

#landing-page-column {
    max-width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#landing-stepper {
    // opacity: 0.3;
    max-width: 600px;
    background-color: rgba(0,0,0,0);
}

.landing-step-label {
    // background-color: white;
}

#landing-page-connection-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 36px;
}

#landing-page-connection-status {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Roboto Mono", monospace;
    font-style: italic;
}

#landing-page-room-input-container {
    height: 100%;
}

#landing-page-room-input {
    box-sizing: border-box;
    height: 100%;
    text-align: center;
}

#lift-drawer-button-container {
    padding-top: 15px;
}

#editor-view-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

// keeping these in case I need them again
// but if you want to modify the drawer, best look at drawer-contents
// .MuiDrawer-paper {
//     background-color: $secondaryMain;
// }
// .MuiPaper {
//     background-color: $secondaryMain;
//     color: red;
// }
// .MuiButton-root {
//     height: auto;
// }

#editor-bottom-bar {
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: $primaryMain;
    flex-direction: row;
}

#editor-bar-connection-status {
    font-size: 15px;
    padding: 4px;
    color: $foregroundText;
    font-family: "Roboto Mono", monospace;
    font-style: italic;
}

#editor-top-bar {
    display: flex;
    flex-direction: row;
    // align-items: stretch;
    justify-content: space-between;
    background-color: $primaryMain;
    // flex-wrap: wrap;
}

.editor-bar-group {
    display: flex;
    align-items: center;
}

.editor-bar-inner-item {
    // height: 100%;
}

#editor-bar-room-field {
    // width: 70px;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
}

#editor-bar-connection-group {
    flex-wrap: wrap;
}

#editor-bar-connection-input-group {
    display: flex;
    flex-direction: row;
    // background-color: $secondaryMain;
    margin-right: 20px;
}

#editor-bar-room-container {
    display: flex;
    background-color: $secondaryMain;
    // padding: 20px;
}

#editor-bar-settings-group {
    height: 100%;
}

#editor-bar-settings-button-container {
    box-sizing: border-box;
    height: 100%;
}

#editor-container {
    height: 100%
}

#drawer-contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $primaryLight;
    width: 220px;
}

.drawer-contents-group {
    padding: 20px;
}

#drawer-info-logo-text {
    font-size: 18px;
}

#drawer-info-group {
    color: $foregroundText;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
}

#drawer-settings-group {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: $foregroundText;
}

.settings-item-container {
    padding-top: 8px;
    padding-bottom: 8px;
}

.settings-item-title {
    // padding: 5px;
    font-family: "Roboto";
}

#drawer-info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}